.header{
    grid-area: h;
   border-bottom: 1px solid black;
}

.header img{
    width: 50px;
    margin-left: 1em;

}

.loginBlock {
    float: right;
    font-size: 30px;
}

.loginBlock a {
    color: brown;

}

.name{
    margin: 5px;
}

.headerImage {
    margin-top: 0.5em;
    
}