.nav{
    grid-area: n;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-right: 1px solid black;
    height: 1010px;
}

a{
    text-decoration: none;
    
}

.item a{
    color: rgb(152, 166, 243);
    font-size: 30px;
}

.item a.active{
    color: gold;
}

/* .item a:hover{
    color: gold;
} */

.sidebar{
    margin-top: 50px;
    display: flex;
    
    
}